+
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Song List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css" />

    </head>

    <body>
        <div class="container">
                   <h3>Play List</h3>
                   <large>Requirements</large>
                   <ul>
                     <li>
                         ***Please upload today's exercises in to a Git Repository, provide the link as your submission! ***

                         Build a small music playlist component in Vue.  </li> 

                          

                       <li>  Requirements:

                         - Have a textfield to enter in song names

                         - Have a textfield to enter in the artist

                         - Have a button, that when pressed adds the artist & song in the textfield to a list

                         - Show the list </li>

                          

                       <li>  Bonus (10%):

                         - Be able to remove songs from the list </li>

                          

                       <li>  Bonus (5%):

                         - Submit your playlist to stevenb@innotechcollege.com
                     </li>
                   </ul>
                       
                   <div>

            <h2>My song List</h2>

                <div class="list-group dots" id="song-list-example">
                <form v-on:submit.prevent="addList">
         

                  <div class="list-group text-color" 
                    is="song-item"
                    v-for="(song, index) in songs"
                    v-bind:key="song.id"
                    v-bind:title="song.title"
                    v-bind:artist="song.artist"
                    v-on:remove="songs.splice(index, 1)" >
                   <a>
                     <div class="list-group-item list-group-item-action">
                       <h5 class="mb-1" ></h5>
                       <small></small>
                     </div>
                     <p class="mb-1"></p>
                    </a>
                     </div>

                     <br><br>

                <div class="input-group mb-3">
                 <input
                  class="form-control"
                   v-model="newSongText"
                   id="new-song"
                   placeholder="Add a song"
                 >
                 <br><br>

                 <input
                  class="form-control"
                  v-model="newArtistText"
                  id="new-song"
                  placeholder="Artist" >

                  <br><br>

                <div class="input-group-append">
                 <button class="btn btn-primary">+</button>
               </div>
               </div>

                </form>
               
              </div>
           
        <script src="node_modules/vue/dist/vue.js"></script>
        <script src="js/app.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>